<section>
  <h2>Crie sua pŕopria sala</h2>
  <form action="/create-room" method="POST">
    <label for="room-pass" class="sr-only">Insira uma senha</label>
    <input type="password" name="password" id="room-pass" placeholder="Código da sala"/>
    <button>
      <img src="/img/users-white.svg" alt="Criar Sala"/>Criar Sala
    </button>
  </form>
</section>